<!-- <p>best-smart-laptop works!</p> -->

<!-- BEGIN LAPTOP -->
<section id="laptop" class="container-fluid pt-5 pb-5 bg-light text-dark">
    <h1 class="text-center">BEST LAPTOP</h1>
    <div class="row">
        <!-- 01 -->
        <app-laptop01></app-laptop01>
        
        <!-- 02 -->
        <app-laptop02></app-laptop02>
        
        <!-- 03 -->
        <app-laptop03></app-laptop03>
        
        <!-- 04 -->
        <app-laptop04></app-laptop04>
    </div>
</section>
<!-- END LAPTOP -->