<!-- <p>production works!</p> -->

<!-- BEGIN PROMOTOPN -->
<section id="promotion" class="container-fluid pt-5 pb-5">
    <h1 class="text-center text-dark">PROMOTION</h1>
    <div class="container bg-light pt-5 pb-5">
        <div class="row">
            <!-- 01 -->
            <app-sub-production></app-sub-production>
            
            <!-- 02 -->
            <app-sub-production></app-sub-production>
            
            <!-- 03 -->
            <app-sub-production></app-sub-production>
        </div>
    </div>
</section>
<!-- END PROMOTION -->