<!-- <p>best-smart-phone works!</p> -->

<!-- BEGIN SMARTPHONE -->
<section id="smartphone" class="container-fluid pt-5 pb-5">
    <h1 class="text-black text-center">BEST SMARTPHONE</h1>
    <div class="row">
        <!-- 01 -->
        <app-smart-phone01></app-smart-phone01>

        <!-- 02 -->
        <app-smart-phone02></app-smart-phone02>

        <!-- 03 -->
        <app-smart-phone03></app-smart-phone03>

        <!-- 04 -->
        <app-smart-phone04></app-smart-phone04>
    </div>
</section>
<!-- END SMARTPHONE -->