<!-- <p>data-binding works!</p> -->
<!-- <app-onewaybinding></app-onewaybinding> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-baitapbinding></app-baitapbinding> -->

<!-- <app-interpolation></app-interpolation>
<hr>
<app-property></app-property>
<hr>
<app-event></app-event>
<hr> -->

<app-ng-for-self-practice></app-ng-for-self-practice>
<p>=====</p>
<app-ng-if-self-practice></app-ng-if-self-practice>
<p>=====</p>
<app-ng-switch-self-practice></app-ng-switch-self-practice>
<p>=====</p>
<app-ng-class-self-practice></app-ng-class-self-practice>
<p>=====</p>